* {
  border: dashed red 1px;
  box-sizing: border-box;
}
body {
  font-family: "PT Sans Narrow", sans-serif; /* D.R.Y */
  font-size: 16px; /* root el / em */
  background-color: #343134;
  color: #ffffff;
}
div {
  border: 2px solid yellow;
}
.content-wrap {
  width: 1272px; /* 12 col grid */
  padding: 1em; /* 16px margins/32 gutters */
  border: dashed 1px rgb(247, 35, 233);
  margin: auto;
}
/* nav {
}
header {
} */
.column-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2em;
}
.h-col-1 {
  width: 392px; /* 4 cols */
}
.h-col-2 {
  width: 900px; /* 8 cols */
}
.about {
  width: 604px; /* 6 cols */
}
.gradient-fill {
  background: linear-gradient(to right, #cb1c68 -25%, #00ffff 125%);
  width: 100%;
  height: 50px;
}

#toolkit {
  width: 100%;
  background-color: #454960;
}
#tech-logos {
  display: inherit;
  gap: 2em;
  width: 100%;
  align-self: flex-end;
  overflow: hidden;
  > div > img {
    width: 74px;
    height: 74px;
  }
}
#tech-text {
  width: 286px;
}
footer {
  background-color: #fad56a;
  color: #343134;
}

/*--- SECTIONS ---*/

#services {
}
.sticky-wrap,
.flex-row {
  display: flex;
  flex-direction: row;
}
.sticky-menu {
  position: sticky;
  top: 0;
  padding: 250px 180px 250px 106px;
  height: 100vh;
  width: 498px;
  background-color: grey;
}
.sticky-menu > ul {
  background-color: #cb1c68;
  list-style: none;
  font-size: 1.5rem;

  > li {
    border-bottom: solid white 2px;
    padding: 0.25rem;
  }

  > li:last-child {
    border-bottom: none;
  }
}

.sticky-scroll {
  width: 604px;

  > div:last-child {
    height: 100vh;
    background-color: #cb1c68;
  }
}
.active {
  font-size: 2rem;
  font-weight: 900;
  padding: 0.5rem;
}
#experiments {
}

/*--- SECTIONS ---*/

/*--- TYPOGRAPHY ---*/
.display {
  font-family: "PT Sans Narrow", sans-serif; /* D.R.Y */
  font-weight: 700;
}
.copy {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 2.13rem;
}
h3 {
  font-size: 4rem;
}
#experiments > p {
  width: 50%;
  font-size: 1.5rem;
}
.modular-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
.card-1 {
  flex-grow: 5;
  height: 33vh;
  border: solid 2px aquamarine;
}
.card-2 {
  flex-grow: 4;
  height: 33vh;
  border: solid 2px aquamarine;
}
.card-3 {
  flex-grow: 5;
  height: 33vh;
  border: solid 2px aquamarine;
}
@media screen and (max-width: 600px) {
  .content-wrap {
    width: 100%;
    padding: 1em; /* 16px margins/32 gutters */
    border: dashed 1px rgb(247, 35, 233);
  }
  .column-wrap {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .h-col-2 {
    width: 100%;
  }
  .about {
    width: inherit;
  }
  .sticky-menu {
    display: none;
  }
}
