:root {
  --gradient: linear-gradient(to right, #cb1c68 -25%, #00ffff 125%);
}
* {
  /* border: dashed red 1px; */
  box-sizing: border-box;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  /* font-family: "PT Sans Narrow", sans-serif; D.R.Y */
  font-size: 16px; /* root el / em */
  background-color: #343134;
  color: #ffffff;
}
div {
  /* border: 0.5px dotted yellow; */
}
/* unvisited link */
a {
  color: #ffffff;
  text-decoration: none;
}
/* visited link */
a:visited {
  color: white;
}
/* mouse over link */
a:hover {
  text-decoration: underline;
}
/* selected link */
a:active {
  color: blue;
}
.content-wrap {
  /* border: dashed 1px rgb(247, 35, 233); */
  width: 1272px; /* 12 col grid */
  padding: 1em; /* 16px margins/32 gutters */
  margin: auto;
}
/* nav {
}
header {
} */
.column-wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2em;
}
.h-col-1 {
  width: 392px; /* 4 cols */
}
.h-col-2 {
  width: 900px; /* 8 cols */
  padding-top: 3rem;
}
.about {
  /* width: 710px; /* 7 cols */
  width: 604px; /* 6 cols */
}
.gradient-fill {
  background: var(--gradient);
  width: 100%;
  height: 50px;
}
#profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: -40px;
}
/*** TYPOGRAPHY **/
.display {
  font-family: "PT Sans Narrow", sans-serif; /* D.R.Y */
  font-weight: 700;
}
.copy {
  /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300; */
}
h2,
h3,
h4,
h5 {
  font-family: "PT Sans Narrow", sans-serif;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 3rem;
}
ul {
  list-style: none;
}
.italic {
  font-style: italic;
  font-weight: 500;
}
/*** /TYPOGRAPHY **/

/*** TOOLKIT ***/
#toolkit {
  width: 100%;
  background-color: #454960;
  padding: 1rem 0;
}
.border {
  height: 10px;
  background: var(--gradient);
}
/***** arrows *****/
#tech-logos-wrap {
  max-width: 85%;
  display: inherit;
  padding: 0 2rem;
  position: relative;
}
#tech-logos {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* mozilla bug - hide scrollbar */
  gap: 2rem;
  align-self: center;
  display: inherit;
}
#tech-logos::-webkit-scrollbar {
  display: none;
}
#tech-logos::-moz-webkit-scrollbar {
  display: none;
}
#tech-logos::-webkit-scrollbar-thumb {
  /* background-color: black; */
}
#tech-logos > div > img {
  width: 74px;
  height: 74px;
  overflow: hidden;
}

.left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.scrollButton {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #454960;
  color: white;
  border: none;
  font-size: 1.5rem;
  border: white 1px solid;
}
/*** tooltips ***/
.tooltip-text {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  min-width: max-content;
  color: #454960;
  font-size: 12px;
  background-color: white;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}
.hover-text:hover .tooltip-text {
  visibility: visible;
}
.tooltip-right {
  top: 25%;
  left: 95%;
}
/* tooltip arrow */
.tooltip-right::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}
.hover-text {
  position: relative;
  display: inline-block;
  margin: 10px;
  text-align: center;
}
/*** /TOOLKIT ***/

/*** SERVICES ***/
#services {
}
.sticky-wrap,
.flex-row {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.sticky-div {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 498px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-list {
}
.sticky-div > ul > li {
  font-size: 22pt;
  border-bottom: solid white 1px;
  padding: 0.25rem;
  width: 17.5vw;
}
.sticky-div > ul > li:last-child {
  border-bottom: none;
}
/* nested */

.sticky-div > ul > li > li > a {
  color: white;
  position: relative;
  text-decoration: none;
}

.active {
  animation: example 0.3s forwards;
}

/* font size to animate links // transform to animate list items (inc underline) */
@keyframes example {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 5px;
  }
}
.sticky-scroll {
  width: 604px;
  > div:last-child {
    margin-bottom: 33vh;
  }
}
.sticky-scroll > div {
  margin: 12.5vh 0;
}
.sticky-scroll {
  > div:first-child {
    margin-top: 20vh;
  }
  > div:last-child {
    margin-bottom: 30vh;
  }
}
.sticky-scroll > div > ul {
  margin-left: 2rem;
  margin-top: 2rem;
  font-style: italic;
  font-weight: 900;
  > lh {
    font-size: larger;
    margin-left: -0.5rem;
  }
  > li {
    padding: 10px;
  }
}
.nestedList {
  margin-left: 2rem;
  padding: 10px; /* nested lists */
  list-style-type: square;
  > li {
    padding: 5px;
    font-weight: 600;
  }
}
/*** /SERVICES ***/

/*** PROJECTS ***/
/*** animation ***/
.slide-effect-wrap {
  overflow: hidden;
}
.slideUp,
.slideDown,
.fadeIn,
.slideRight {
  position: relative;
  opacity: 0;
  /* font-size: 35px; */
}
.slideUp {
  top: 60px;
  animation: slideUp ease-out 1s forwards 0.1s;
}
.slideRight {
  /* duration | easing | play-direction | name */
  animation: slideRight 0.5s ease-in forwards;
}
.slideDown {
  top: -50px;
  /* left: 5px; */
  animation: slideDown ease 0.9s forwards;
}
.fadeIn {
  padding: 1rem 0;
  /* font-size: 1rem; */
  animation: fadeIn 0.75s ease-in forwards 0.6s;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  25% {
    opacity: 0;
  }
  100% {
    transform: translateY(-60px);
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*** /animation ***/
.slide-effect-wrap > hr {
  border: 0.5px solid white;
}
.sticky-scroll-img {
  width: 710px;
  padding: 1rem;
}
/** images styled via links to preserve layout **/
.sticky-scroll-img > a {
  display: block;
  height: max-content;
  margin: 40vh 0;
}
.project-img {
  width: 100%;
}
.project-info {
  padding-left: 1rem;
  padding-right: 1rem;
  height: inherit;
  display: flex;
  align-items: center;
  > div {
    height: auto;
  }
}
.project-stack {
  color: #fad56a;
  padding: 2rem 0;
  /* font-family: "Nanum Gothic", sans-serif; */
  font-family: "Gruppo", sans-serif;
  font-style: oblique;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.hide {
  display: none;
}
#proj-02 {
  /* display: none; */
}
/*** /PROJECTS ***/

/*** PROJECT PAGE *****/
.project-max-width-wrap {
  /* 10 cols / 11 gutters */
  width: 1092px;
  margin: auto;
}
.hero-img {
  margin: auto;
  width: 100%;
  border-radius: 10px;
}
.project-rundown {
  width: 392px;
  margin-left: 2rem;
}
.project-rundown > div {
  padding: 2.5rem 0 0 0;
}
.project-rundown > div > ul {
  padding: 1rem 74px 0 106px;
  > li {
    padding: 0.5rem 0 0.5rem 0;
    border-bottom: #ffffff solid 1px;
  }
  > li:last-child {
    border-bottom: none;
  }
}
.repo-link > img {
  margin-left: 106px;
  width: 30px;
  height: 30px;
}
.repo-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-style: italic;
  font-weight: 500;
}
.project-full-summary {
  width: 604px;
}
.project-full-summary > p {
  margin: 1.5rem 0 1.5rem 0;
}
.project-full-summary > ul > li {
  list-style-type: disc;
  margin: 0.5rem 1rem;
}
.project-gallery-sml {
  width: 388px; /* 3 cols */
  margin: 0 0 0 2rem;
}
.project-gallery-lrg {
  width: 710px; /* 7 cols */
  margin: 9rem 2rem 6rem 0;
}
.relative {
  position: relative;
}
.proj-prev,
.proj-next {
  position: absolute;
  background-color: RGBA(0, 0, 0, 0.75);
  opacity: 50%;
  font-size: 1.25rem;
  font-style: italic;
  top: 2rem;
  padding: 0.25rem 2.25rem;
  display: flex;
  gap: 1rem;
  z-index: 1;
}
.proj-prev {
  left: 2rem;
}
.proj-next {
  right: 2rem;
}
/*** EXPERIMENTS ***/
#experiments > p {
  width: 50%;
  font-size: 1.5rem;
}
.modular-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.card-1 {
  flex-grow: 5;
  height: 33vh;
  border: solid 2px aquamarine;
}
.card-2 {
  flex-grow: 4;
  height: 33vh;
  border: solid 2px aquamarine;
}
.card-3 {
  flex-grow: 5;
  height: 33vh;
  border: solid 2px aquamarine;
}
/*** /EXPERIMENTS ***/

/*** FOOTER ***/
footer {
  background-color: #fad56a;
  color: #343134;
  width: 100%; /* bug 100vw causes scrollbar */
}
.title {
  width: 100%;
}
.hierarchical-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1.5fr 1fr;
  grid-template-areas:
    "call2Action blurb blurb"
    "call2Action work socials";
}
.call-to-action {
  grid-area: call2Action;
}
.blurb {
  grid-area: blurb;
  border-bottom: #343134 3px solid;
  align-self: end;
}
.work-links {
  grid-area: work;
  margin-top: 0.5rem;
}
.socials {
  grid-area: socials;
  margin-top: 0.5rem;
}
.home-link {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0 0 -1rem;
  padding: 1rem 0 0 0;
}
.home-link > a,
.socials > ul > li > a,
.work-links > ul > li > a {
  color: #343134;
}
.work-links > hr,
.socials > hr {
  border-top: #343134 3px solid;
}
.u-line {
  padding: 0 3rem 0 0;
  border-bottom: #343134 solid 3px;
}
/*** /FOOTER ***/

/*** Media Queries ***/
/*** ************* ***/
@media screen and (max-width: 600px) {
  /***** about *****/
  .content-wrap {
    width: 100%;
    padding: 1em; /* 16px margins/32 gutters */
    border: dashed 1px rgb(247, 35, 233);
  }
  .column-wrap {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .h-col-2 {
    width: 100%;
  }
  .about {
    width: inherit;
  }
  /***** toolkit *****/
  .flex-row {
    flex-direction: column;
  }
  #tech-logos-wrap {
    max-width: 100%;
  }
  /***** services *****/
  .sticky-div {
    display: none;
  }
  .sticky-scroll {
    > div:last-child {
      height: auto;
    }
  }
  /***** projects *****/
  .project-summary {
    margin-bottom: 10vh;
  }
  .sticky-scroll-img {
    /* width: 100%;
    padding: 1rem; */
  }
  .sticky-scroll-img > a {
    display: block;
    height: max-content;
    margin: 0 0 0 0;
  }
  .project-img {
    margin: 0 0 0 0;
    margin-bottom: 0rem;
  }

  .project-stack {
    width: 100%;
    flex-wrap: wrap;
  }
  /***** projects-pages *****/
  .project-max-width-wrap {
    width: 100%;
    margin: auto;
  }
  .project-rundown {
    width: 100%;
    margin: auto;
  }
  .project-full-summary {
    width: 100%;
  }
  /***** experiments *****/
  #experiments {
    > p {
      width: 75%;
    }
  }
  /***** footer *****/
  .hierarchical-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
      "call2Action call2Action"
      "blurb blurb"
      "work socials";
  }
}
